.content-wrapper {
    padding: 2rem 2rem;
}
a.btn:hover {
    color: white;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.info-p {
    text-align: center;
    color: white;
}
