<div class="container-fluid">
    <div class="row">
        <h2 class="text-light mt-3 pb-2 d-flex justify-content-center border-light border-bottom border-1">Konstruktorzy</h2>
        <table class="table w-100 table-dark table-striped table-hover mt-3">
            <thead>
            <tr class="align-middle text-center">
                <th scope="col" class="custom-th-bg round-top-left">#</th>
                <th scope="col" class="custom-th-bg">Konstruktor</th>
                <th scope="col" class="custom-th-bg round-top-right">Punkty</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let element of teams; let i = index" class="align-middle text-center">
                <th scope="row">{{i + 1}}</th>
                <td>{{element.name}}</td>
                <td>{{element.points}}</td>
            </tr>
            <tr class="bottom-tr">
                <th class="round-bottom-left"></th>
                <td class=""></td>
                <td class="round-bottom-right"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

