/* BACKGROUND CSS SECTION */
body {
    background-image: url("src/assets/img/bg-prime.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.custom-rgba {
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
    body {
        background-image: url("src/assets/img/bg-mobile.png");
        background-size: auto;
        background-position: center;
    }
}

/* ------------------------------- */


/* FOR TABLES */
.round-bottom-right {
    border-radius: 0 0 20px 0;
}

.round-bottom-left {
    border-radius: 0 0 0 20px;
}

table {
    color: white;
}

.round-top-left {
    border-radius: 20px 0 0 0;
}

.round-top-right {
    border-radius: 0 20px 0 0;
}

.bottom-tr {
    border: transparent;
}
/* ------------------------------- */
